Source: bu-printing-config
Section: utils
Priority: extra
Maintainer: Kyle Brogle <broglek@bu.edu>
Build-Depends: cdbs, debhelper (>= 7.4.15ubuntu1)
Standards-Version: 3.8.4

Package: bu-printing-config
Architecture: all
Pre-Depends: debconf
Depends: ${shlibs:Depends}, ${misc:Depends}, cups, sysv-rc, adduser
Provides: ${diverted-files}
Conflicts: ${diverted-files}
Description: Package to configure BU printers
 Package to configure public printers on Boston University
 Campus.
	   
